@use "sass:math";
@import 'reset';
@import 'svg';

body {
    background-color: #000;
}

.fullscreen {
    // position must be fixed to avoid
    // pull-down pull-up scrolling on iPad
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ratio {
    overflow: visible;
    position: absolute;
    box-sizing: border-box;

    // width and height is maintained by javascript
    // left and top is maintained by javascript
    // to ensure integer size on tiles
    // and whole integer positions

    padding: 10px;
}

.board {
    box-sizing: content-box;
    position: relative;
    border: 2px solid yellow;

    // width and height is maintained by javascript
}


/*
    debug styles
*/
$debugMode: 1;
@if $debugMode > 0 {
    .fullscreen {
        //background-color: #00ff0088;
    }
    .ratio {
        background-color: #ffffff40;
    }
    .board {
        background-color: #ff000040;
    }
}
