@use "sass:math";
@import 'reset';
@import 'svg';

body {
    background-color: #000;
}

.fullscreen {
    // position must be fixed to avoid
    // pull-down pull-up scrolling on iPad
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ratio {
    overflow: visible;
    position: absolute;
    box-sizing: border-box;

    // width and height is maintained by javascript
    // left and top is maintained by javascript
    // to ensure integer size on tiles
    // and whole integer positions

    padding: 10px;
}

.board {
    box-sizing: content-box;
    position: relative;
    border: 2px solid yellow;

    // width and height is updated runtime
}

.tiles {
    position: relative;
    overflow: visible;

    // width and height is updated runtime
    // size of container is same as one tile

    li {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;

        // left + top is updated runtime on each tile

        &:after {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            box-sizing: border-box;
            border-top: 2px solid #ffffffa0;
            border-right: 2px solid #ffffffa0;
            border-left: 2px solid #000000a0;
            border-bottom: 2px solid #000000a0;
        }

        div {

            // width and height is updated runtime

            background-image: url("assets/images/ricky.jpg");
            //background-image: url("assets/images/tunnel.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;

            position: absolute;
        }

        // position of inner div holding the background image

        @for $i from 0 through 7 {
            &.x#{$i} div { left: #{$i * -100%}; }
            &.y#{$i} div { top: #{$i * -100%}; }
        }
    }
}
/*
    debug styles
*/
$debugMode: 1;
@if $debugMode > 0 {
    .fullscreen {
        //background-color: #00ff0088;
    }
    .ratio {
        background-color: #ffffff40;
    }
    .board {
        background-color: #ff000040;
    }
}
